$bgColor: #f3f3f3; //
$mainColor: #4f66b6; //主色
$mainhoverColor: #66b1ff; //hover状态主色

//$secColor: #d84179; //第二主题色
$secColor: #dd6572;
$sechoverColor: #e69090;

$trdColor: #a5bd20;
$trdhoverColor: #cada72;

$subColor: #1ba9fc;
$pageColor: #fff;
$patientFontColor: #666; //病人页面主要字体
$timelineColor: #e3e1e1; //时间轴边框线颜色
$tableBorderColor: #ebeff3; //表格边框颜色
$tableActiveColor: #ebf5f6; //表格高亮颜色